.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px auto 0;
    padding: 24px;
    border-radius: 32px;
    background-color: #08252B;
    border: 1px solid #0E464F;
    gap: 12px;
    width: 325px;
    max-width: 425px;
}

@media(min-width:700px){
  .container{
    max-width: 1024px;
    width: 700px;
  }
}