html{
  font-size: 62.5%;
}
@font-face {
  font-family: 'JejuMyeongjo';
  src: url(./fonts/JejuMyeongjo-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'RoadRage';
  src: url(./fonts/RoadRage-Regular.ttf);
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  margin: 10px auto;
  background-color: #05252C;
  padding: 12px 16px;
  border-radius: 10px;
  border:  1px solid #197686;
}
.nav-list{
  list-style: none;
  display: none;
}
.logo{
  display: flex;
  align-items: center;
}
.logo > img:first-child{
  background-color: #052F35;
  padding: 6px 8px;
  border-radius: 12px;
  border: 1px solid #0E464F;
  margin-right: 10px;
}
.link{
  text-decoration: none;
  background-color: #FFFFFF;
  color: #0A0C11;
  padding: 12px 16px;
  border-radius: 12px;
  font-family: 'JejuMyeongjo';
  font-size: 1.4rem;
}
.link img{
  color: #0A0C11;
}

/* main section */

.heading{
  color: #FFFFFF;
  width: 100%;
}
.heading > h2{
  width: 287px;
  height: 24px;
  font-family: 'JejuMyeongjo';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 15px;
 
}
.heading > p{
  width: 100px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #FAFAFA;
  margin-bottom: 10px;
}
.progress-bar{
  width: 100%;
  height: 5px;
  background-color: #0E464F;
  border-radius: 40px;
  margin-bottom: 20px;
}
.progress{
  width: 33.3%;
  height: 5px;
  background-color:#197686;
  border-radius: 40px;
}
.section-title{
  background: radial-gradient(103.64% 57.39% at 14.02% 32.06%, rgba(36, 160, 181, 0.2) 0%, rgba(36, 160, 181, 0) 100%);
  width: 100%;
  padding: 16px 24px;
  border-radius: 24px;
  border: 1.5px solid #07373F;
  backdrop-filter: blur(7px)
}
.section-title > h3{
  font-family: 'RoadRage';
  font-size: 4.4rem;
}
.section-title p{
  text-align: center;
  font-family: 'Roboto';
}
.event{
  font-size: 1.4rem;
  margin: 1rem 0 3rem;
}
.section-title >p:last-child{
  font-size: 1.5rem;
}

hr{
  border: 1px solid #0E464F;
  width: 100%;
  margin: 20px 0;
}
.ticket-type{
  width: 100%;
}
.ticket-type > p{
  font-family: 'Roboto';
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.num-ticket{
  width: 100%;
  font-family: 'Roboto';
}
.num-ticket >label{
  display: block;
  font-size: 1.6rem;
}
.num-ticket >select{
  width: 100%;
  padding: 12px;
  background-color: transparent;
  border: 1px solid #07373F;
  border-radius: 12px;
  margin-top: 10px;
}
.num-ticket >select>option{
  background-color: #07373F;
}
.checkout-btn{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn{
  padding:  12px 24px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'JejuMyeongjo';
  text-decoration: none;
}
.next{
  background-color: #24A0B5;
  border: none;
}
.cancel{
  border: 2px solid #24A0B5;
}
.about{
  font-size: 2rem;
}
.lists ul >li{
  list-style: none;
}

@media(min-width:700px){
  .header{
    width: 750px;
  }
  .nav-list{
    display: flex;
    align-items: center;
  }
  .nav-list a{
    font-family: 'Roboto';
    text-decoration: none;
    margin-right: 15px;
    color: #FFFFFF;
    font-size: 1.8rem;
  }
  .heading{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }
  .heading p{
    margin-left: auto;
    width: 70px;
  }
  .progress-bar{
    grid-column: span 2;
  }
  .section-title{
    text-align: center;
  }
  .section-title h3{
    font-size: 6rem;
  }
  .section-title p{
    width: 50%;
    margin: auto;
  }
  .section-title >p:last-child{
    margin-top: 10px;
    font-size: 1.5rem;
  }
  .checkout-btn{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    justify-content: center;
    background-color: #02191D;
    border-radius: 30px;
  }
  .btn{
    width: 40%;
  }
  .num-ticket >select{
    padding: 18px;
  }
}
@media(min-width:1024px){
  .header{
    width: 1000px;
  }
}