.ticket{
  position: relative;
  width: 100%;
  margin: auto;
}
.ticket-container{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 300px;
  height: 600px;
}
.ticket-content{
  clip-path: url(./assets/Subtract.svg);
  position: absolute;
  width: 260px;
  height: 446px;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: white; /* Or your desired color */
  font-size: 20px; /* Adjust as needed */
  background: rgba(3, 30, 33, 0.1);
  padding: 14px;
  border-radius: 16px;
  border: 1px solid #24A0B5;
  backdrop-filter: blur(2px);
}

.address-time{
  font-size: 1.2rem;
}
.user-img{
box-sizing: border-box;
width: 125px;
height: 125px;
border: 4px solid rgba(36, 160, 181, 0.5);
border-radius: 12px;
margin: 15px 0 ;
}
.user-info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 232px;
  height: 180px;
  padding: 4px;
  text-align: left;
  background: #08343C;
  border: 1px solid #133D44;
  border-radius: 8px;
  font-size: 10px;
  gap: 0px;
  box-sizing: border-box;
}
.user-info label{
  font-size: 1.2rem;
  color: #FFFFFF;
  opacity: 33%;
}
.user-info h3{
  font-size: 1.2rem;
  text-wrap: break word;
}
.cell{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4px;
}
.border-r{
  border-right: 1px solid #12464E;
}
.border-b{
  border-bottom: 1px solid #12464E;
}
.email {
  max-width: 90%; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  word-wrap: break-word;
}

.request{
  grid-column: span 2;
  width: 224px;
  height: 65px;
  padding: 8px;
}
.bar-code{
  position: absolute;
  left: 50%;
  line-height: 2;
  transform: translate(-50%);
  width: 100%;
  bottom: -31%;
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7448%) hue-rotate(263deg) brightness(114%) contrast(103%);
}
.checkout-progress{
  width: 100%;
  height: 5px;
  background-color:#197686;
  border-radius: 40px;
}
.message{
  text-align: center;
  width: 100%;
}
.message h2{
  font-size: 2rem;
}
.message p{
  font-size: 1.5rem;
}

